---
- name: Add the Server Density repository signing key (Debian/Ubuntu)
  apt_key:
    id: "74371316"
    data: "{{ item }}"
  with_file: sd-packaging-public.key
  when: ansible_os_family == "Debian"

- name: Add Server Density repository (Debian/Ubuntu)
  apt_repository:
    repo: "{{ item }}"
    state: present
  with_items:
    - "deb https://archive.serverdensity.com/ubuntu/ all main"
  when: ansible_os_family == "Debian"

- name: Copy Server Density repository signing key (RedHat/CentOS)
  copy:
    src: sd-packaging-public.key
    dest: /etc/pki/rpm-gpg/RPM-GPG-KEY-serverdensity
    owner: root
    group: root
    mode: 0644
  when: ansible_os_family == "RedHat"

- name: Install Server Density repository signing key (RedHat/CentOS)
  command: rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-serverdensity
  when: ansible_os_family == "RedHat"

- name: Add server Density repository (RedHat/CentOS)
  copy:
    src: serverdensity.repo
    dest: /etc/yum.repos.d/serverdensity.repo
    owner: root
    group: root
    mode: 0644
  when: ansible_os_family == "RedHat"

- name: Install/Update Server Density agent (Debian/Ubuntu)
  apt:
    name: sd-agent
    state: latest
    update-cache: yes
    cache_valid_time: 86400
  notify: restart sd-agent
  when: ansible_os_family == "Debian"

- name: Install/Update Server Density agent (RedHat/CentOS)
  yum:
    name: sd-agent
    state: latest
  notify: restart sd-agent
  when: ansible_os_family == "RedHat"

- name: Getting some extra facts
  action: ec2_facts

- name: Check to see if we previously upgraded the Server Density agent from v1 to v2
  stat:
    path: /var/log/sd-upgrade-v2-key.log.json
  register: upgraded

- name: Attempt to lookup device with the Server Density API - non AWS
  uri:
    url: https://api.serverdensity.io/inventory/resources?token={{ api_token }}&filter=%7b%22name%22%3a%22{{ sd_hostname | default(ansible_hostname) }}%22%7d
    status_code: 200
    dest: /var/log/sd-agent-v2-install.log.json
  register: http_response
  when: not upgraded.stat.exists and ansible_ec2_instance_id is undefined

- name: Register device with the Server Density API - non AWS
  uri:
    url: https://api.serverdensity.io/inventory/devices/?token={{ api_token }}
    method: POST
    body: "name={{ sd_hostname | default(ansible_hostname) }}&group={{ group_name}}"
    status_code: 200
    dest: /var/log/sd-agent-v2-install.log.json
  when: not upgraded.stat.exists and ansible_ec2_instance_id is undefined and http_response.x_total_number == "0"

- name: Attempt to lookup device with the Server Density API - AWS
  uri:
    url: https://api.serverdensity.io/inventory/resources?token={{ api_token }}&filter=%7b%22providerId%22%3a%22{{ ansible_ec2_instance_id }}%22%7d
    status_code: 200
    dest: /var/log/sd-agent-v2-install.log.json
  register: aws_response
  when: not upgraded.stat.exists and ansible_ec2_instance_id is defined

- name: Register device with the Server Density API - AWS
  uri:
    url: https://api.serverdensity.io/inventory/devices/?token={{ api_token }}
    method: POST
    body: "name={{ sd_hostname | default(ansible_ec2_instance_id) }}&group={{ group_name}}&provider=amazon&providerId={{ ansible_ec2_instance_id }}"
    status_code: 200
    dest: /var/log/sd-agent-v2-install.log.json
  when: not upgraded.stat.exists and ansible_ec2_instance_id is defined and aws_response.x_total_number == "0"

- name: Remove from list
  replace:
    dest=/var/log/sd-agent-v2-install.log.json
    regexp="{{ item.regexp }}"
    replace="{{ item.replace }}"
  with_items:
    - { regexp: '^\[', replace: '' }
    - { regexp: '\]$', replace: '' }
  when: (aws_response and aws_response.x_total_number is defined and aws_response.x_total_number > 0) or (http_response and http_response.x_total_number is defined and http_response.x_total_number > 0)


- name: Register JSON
  command: cat /var/log/sd-agent-v2-install.log.json
  register: result
  when: not upgraded.stat.exists

- name: Register JSON upgraded
  command: cat /var/log/sd-upgrade-v2-key.log.json
  register: result_upgraded
  when: upgraded.stat.exists

- name: Set JSON to variable
  set_fact:
    api_result: "{{ result.stdout|from_json }}"
  when: not upgraded.stat.exists

- name: Set JSON to variable upgraded
  set_fact:
    api_result: "{{ result_upgraded.stdout|from_json }}"
  when: upgraded.stat.exists
